<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="/js/main.js"></script>
</head>

<body>
  <div id="sidebar">
    <h1>Mastermind</h1>
      <p id="facts">
        The field of making and breaking codes is called cryptography
      </p>
      <p id="count">
        There are <p id="number"> 1,296 </p> possible codes
      </p>
  </div>
  <div id="main">
    <h1>Main</h1>


    <h1>YOYO web apps are so cool</h1>

    <p id="demo">
      This is me testing out a lil html file
    </p>

    <button type="button" onclick="myFunction()">
      Try it
    </button>
  </div>

</body>

</html>